<div class="row">
	<nav>
		<div class="nav-wrapper">
			<form>
				<div class="input-field">
					<input id="search" type="search" required>
					<label class="label-icon" for="search"><i class="material-icons">search</i></label>
					<i class="material-icons">close</i>
				</div>
			</form>
		</div>
	</nav>
	
	<div class="col s12">
		<p class="flow-text center-align">{{title}}</p>
	</div>

	<div class="col s12">
		<div class="col s4">
			<div class="card horizontal">
				<div class="card-stacked">
					<div class="card-content">
			  			<p>Event Coordinator / Opera Suite Hotel</p>
					</div>
					<div class="card-action">
			  			<a href="#">This is a link</a>
					</div>
				</div>
			</div>
		</div>				
	</div>			
</div>