<template>
  <div class="row">
  
    <router-view></router-view>

  </div>
</template>

<script>
import JobsList from './JobsList.vue';

export default {
  name: 'App',
  data () {
    return {
      
    }
  },
  components: {
    'jobs-list': JobsList
  }
}
</script>

<style></style>