<template>
	<div class="row">
		<nav>
			<div class="col s12">
				<a class="waves-effect waves-light btn" @click="goBack">Go Back</a>
			</div>
		</nav>

		<div class="div col s8 offset-s2" v-if="isLoading">
			<div class="progress">
			    <div class="indeterminate"></div>
			</div>
		</div>
		
		<div class="col m8 offset-m2">
			<div class="card blue-grey darken-1">
              <div class="card-content white-text">
              	<h4>{{job.companyName}}</h4>
              	<span class="card-title">{{job.title}}</span>                
                <hr>
                <div class="row">
	                <div class="col m6">
                		<h6>
							<b>Employment term:</b>
                			{{job.employmentTerm}}
                		</h6>
	                </div>
	                <div class="col m6">
	                	<h6>
							<b>Job type:</b>
                			{{job.jobType}}
                		</h6>
	                </div>
	                <div class="col m6">
	                	<h6>
							<b>Category:</b>
                			{{job.category}}
                		</h6>
	                </div>
	                <div class="col m6">
	                	<h6>
							<b>Location:</b>
                			{{job.location}}
                		</h6>
	                </div>
	            </div>
	            <hr>
	            <p><b>Job Description: </b>{{job.jobDescription}}</p>
	            <hr>
	            <p>
	            	<b>Our technical speck</b>
	            	<ul>
	            		<li v-for="skill in job.ourTechnicalSpeck">
	            			{{skill}}
	            		</li>
	            	</ul>
	            </p>
	            <hr>
	            <p>
	            	<b>Job responsibilities: </b>
	            	{{job.jobResponsibilities}}
	            </p>
	            <hr>
	            <p>
	            	<b>Required qualifications</b>
	            	<ul>
	            		<li v-for="qualifications in job.requiredQualifications">
	            			{{qualifications}}
	            		</li>
	            	</ul>
	            </p>
	            <hr>
	            <p>
	            	<b>Preferred qualifications</b>
	            	<ul>
	            		<li v-for="preferredQualification in job.preferredQualifications">
	            			{{preferredQualification}}
	            		</li>
	            	</ul>
	            </p>
              </div>
              <div class="card-action">
                <a href="#">Apply Now</a>
              </div>
            </div>
		</div>
	</div>
</template>

<script>
import http from './services/http-service.js';

export default {
  name: 'Job',
  data () {
    return {
      job: {},
      isLoading: false
    }
  },
  methods: {
  	goBack: function() {
  		this.$router.push('/jobs/');
  	}
  },
  created() {
  	this.isLoading = true;

  	http.get('/jobs/' + this.$route.params.jobId)
  		.then((response) => {
		 	this.job = response.data;
		 	this.isLoading = false;
		})
	    .catch((error) => {

		});
  }
}
</script>

<style></style>