<template>
  <div>
    <nav>
     <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input type="search" v-model="search">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
    </nav>

    <div class="col s12">
      <p class="flow-text center-align">{{title}}</p>
    </div>

    <div class="col s12">
      <div class="div col s8 offset-s2" v-if="isLoading">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
      </div>

      <div class="col s8 offset-s2  " v-for="job in filtredJobs">
        <div class="card horizontal">
          <div class="card-image">
            <img :src="job.companyLogoSrc">
          </div>
          <div class="card-stacked">
            <div class="card-content">
                <h6><b>Company:</b> {{job.companyName}}</h6>
                <p><b>Job Title:</b> {{job.title}}</p>
            </div>
            <div class="card-action">
              <router-link :to="'/jobs/' + job._id">This is a link</router-link>
            </div>
          </div>
        </div>
      </div>        
    </div>
  </div>

</template>

<script>
import http from './services/http-service.js';

export default {
  name: 'JobsList',
  data () {
    return {
      title: 'Job Opportunities',
      search: '',
      initialJobs: [],
      filtredJobs: [],
      isLoading: false
    }
  },
  created() {
    this.isLoading = true;

    http.get('jobs/')
        .then((response) => {
          this.initialJobs = response.data;
          this.filtredJobs = this.initialJobs;
          this.isLoading = false;
        })
        .catch((error) => {

        });    
  },
  watch: {
    search: function() {
      if (this.search.length > 0) {
        this.filtredJobs = this.initialJobs.filter((item) => {
          return item.title.toLocaleLowerCase().match(this.search.toLocaleLowerCase());
        });
      } else {
        this.filtredJobs = this.initialJobs;
      }
    }
  }
}
</script>

<style>
  .card.horizontal .card-image img {
    width: 154px;
    padding: 20px;
  }
</style>